{% extends 'login_base.html' %}
{% load widget_tweaks %}
{% block content %}
    <p class="login-box-msg"><b>Informe seus dados de login</b></p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
            </div>
        </div>
        <br/>
        {{ form.non_field_errors }}
    </form>
    <br/>
    <a href="{% url 'password_reset' %}">Esqueci minha senha / Primeiro acesso</a><br>
{% endblock %}