{% extends 'login_base.html' %}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block content %}

    {% if success %}
        <p>Um e-mail foi enviado a você com mais detalhes para criar sua nova senha.</p>
    {% else %}
        <p class="login-box-msg">Informe seu e-mail</p>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|add_class:"form-control" }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
                </div>
            </div>
        </form>
    {% endif %}
    </br>
    <a href="{% url 'inicio' %}" class="text-center">Voltar</a>

{% endblock %}