{% extends 'login_base.html' %}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block content %}
    {% if success %}
        <p>Sua nova senha foi atualizada com sucesso!</p>
    {% elif error %}
        <p>Página inválida. Clique em Voltar para retornar ao início.</p>
    {% else %}
        <p class="login-box-msg">Informe sua nova senha</p>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|add_class:"form-control" }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-xs-8">
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
                </div><!-- /.col -->
            </div>
        </form>
    {% endif %}
    <a href="{% url 'inicio' %}" class="text-center">Voltar</a>
{% endblock %}
